@model Tuple<IEnumerable<Cart>, decimal>      
@{
    ViewBag.Title = "Checkout";
}
<form id="fmAddress" method="post" action="/cart/address">
        </form>
        <form id="fmCheckout" method="post">
        </form>
<div class="site__body">
            <div class="page-header">
                <div class="page-header__container container">
                    <div class="page-header__breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="index.html">Home</a>
                                    <svg class="breadcrumb-arrow" width="6px" height="9px">
                                        <use xlink:href="/images/sprite.svg#arrow-rounded-right-6x9"></use>
                                    </svg>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="">Breadcrumb</a>
                                    <svg class="breadcrumb-arrow" width="6px" height="9px">
                                        <use xlink:href="/images/sprite.svg#arrow-rounded-right-6x9"></use>
                                    </svg>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="page-header__title">
                        <h1>Checkout</h1>
                    </div>
                </div>
            </div>
            <div class="checkout block">
                <div class="container">
                    <div class="row">
                                 <div class="col-12 col-lg-6 col-xl-7">
                            <div class="card mb-lg-0">
                                <div class="card-body">
                                    <h3 class="card-title">Address</h3>    
                                   <partial name="_Address" model="new Address()" />     
                                      <div class="payment-methods">
                                        <ul class="payment-methods__list">
                                        @foreach(Address item in ViewBag.addresses)
                                        {
                                            <li class="payment-methods__item payment-methods__item--active">
                                            <label class="payment-methods__item-header">
                                                <span class="payment-methods__item-radio input-radio">
                                                    <span class="input-radio__body">
                                                        <input class="input-radio__input" form="fmCheckout" id="@item.AddressId" name="addressId" value="@item.AddressId" type="radio" checked>
                                                        <span class="input-radio__circle"></span>
                                                    </span>
                                                </span>
                                                <span class="payment-methods__item-title">@item.AddressName, @item.WardName, @item.DistrictName, @item.ProvinceName</span>
                                            </label>
                                        </li> 
                                        }  
                                        </ul>
                                    </div>
                                                           
                                    @if(ViewBag.addresses is null || ViewBag.addresses.Count<=0 || ViewBag.valid==0)
                                    {
                                        <script>$('#myAddress').modal('show')</script>    
                                    }                                                                                
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <h3 class="card-title">Your Order</h3>
                                    <table class="checkout__totals">
                                        <thead class="checkout__totals-header">
                                            <tr>                                                                                       
                                                <th>Product</th>
                                                <th>Total</th>                                                                                                
                                            </tr>
                                        </thead>
                                        <tbody class="checkout__totals-products">
                                                @foreach(var item in Model.Item1)
                                                {
                                                    <tr>                                                        
                                                        <td>@item.ProductName x @item.Quantity</td>                                                        
                                                        <td>@item.Price</td>                                                        
                                                    </tr>
                                                }
                                        </tbody>
                                        <tfoot class="checkout__totals-footer">
                                            <tr>
                                                <th>Total</th>
                                                <td>$@Model.Item2</td>
                                            </tr>
                                        </tfoot>
                                    </table>                                                                        
                                    <button type="submit" form="fmCheckout" class="btn btn-primary btn-xl btn-block">Place Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        